body {
    color: rgb(0, 0, 0); 
  }

  .posts {
    width: 500px;
    height:600px;
    overflow-y: auto; 
    border: 1px solid #ccc;
    padding: 10px;
    float: left;
  }
  .upBar
  {
    display: flex;
    padding: 2%;
    height: 120px;
    justify-content: space-between;
    align-items: center;
    background-image: url("../../img/waves.jpg");
    background-position: center;
    background-size: cover;
  }
  input{
    height: 48px;
    width: 20%;
    font-size: large;
    border-radius: 10px;
    padding-left: 8px;
    border: none;
  }
  .icon-container {
    margin-left: 300px; 
  }
 