.Login {
    background-image: url("../../img/leaves.gif");
}

.inputContainerReset {
    color: white;
    padding: 3%;
    border-radius: 16px;
}

a {
    color: inherit;
    text-decoration: none;
    width: 80%;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: inherit;
}