/* Login.css */
.Login {
    background-image: url("../../assets/leaves.gif");
}

.inputContainerReset {
    color: white;
    padding: 3%;
    border-radius: 16px;
    cursor: pointer;
}

.inputContainerReset:hover {
    text-decoration: underline;
}

button {
    background-color: black;
}