/* App.css */
:root {
  min-width: 100%;
  min-height: 100%;
  color: white;
}

.App {
  text-align: center;
  background-position: center center;
  min-width: 400px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #8261fb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.prevent-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.backgroundContainer {
  text-align: center;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("assets/waves.jpg");
  width: 100%;
  height: 100%;
}

.mainContainer {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
}

.cardContainer {
  text-align: center;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("assets/waves.jpg");
  padding: 7%;
  border-radius: 24px;
  width: 40vw;
  min-width: 400px;
  box-shadow: 5px 5px 3px gray;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  font-size: xx-large;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
  padding: 5%;
  white-space: nowrap;
  width: 100%;
  cursor: default;
}

.subtitleContainer {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
  cursor: default;
  padding: 2%;
}

.resultContainer, .historyItem { 
  flex-direction: row;
  display: flex;
  width: 400px;
  align-items: center;
  justify-content: space-between;
}

.historyContainer {
  flex-direction: column;
  display: flex;
  height: 200px;
  align-items: center;
  flex-grow: 5;
  justify-content: flex-start;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2%;
}

.inputContainerText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 3%;
  width: 100%;
}

.inputContainerText:focus {
  outline: none;
}

.inputContainerButtons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 4%;
}

.inputButton {
  border: none;
  background: rgb(82, 22, 150);
  color: white;
  padding: 16px 28px;
  font-size: 24px;
  border-radius: 12px;
  cursor: pointer;
  width: 100%;
  margin-top: 2%;
}

.inputButton:hover, .inputButton:active {
  background: rgb(87, 37, 180);
}

.inputButtonAlternative {
  border: none;
  background: rgb(16, 9, 31);
  color: white;
  padding: 16px 28px;
  font-size: 24px;
  border-radius: 12px;
  cursor: pointer;
  width: 100%;
  margin-top: 2%;
}

.inputButtonAlternative:hover, .inputButtonAlternative:active {
  background: rgb(82, 22, 150);
}

.debugButton {
  border: none;
  background: rgb(9, 3, 24);
  color: white;
  padding: 16px 28px;
  font-size: 24px;
  border-radius: 12px;
  cursor: pointer;
  width: 100%;
  margin-top: 2%;
}

.debugButton:hover, .debugButton:active {
  background: rgb(52, 15, 95);
}

@media screen and (min-width: 450px) {
  .inputContainerButtons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 4%;
  }

  .inputButton {
    border: none;
    background: rgb(82, 22, 150);
    color: white;
    padding: 16px 28px;
    font-size: 24px;
    border-radius: 12px;
    cursor: pointer;
    width: 100%;
    margin-left: 2%;
  }
  
  .inputButton:hover, .inputButton:active {
    background: rgb(87, 37, 180);
  }
  
  .inputButtonAlternative {
    border: none;
    background: rgb(16, 9, 31);
    color: white;
    padding: 16px 28px;
    font-size: 24px;
    border-radius: 12px;
    cursor: pointer;
    width: 100%;
    margin-right: 2%;
  }
  
  .inputButtonAlternative:hover, .inputButtonAlternative:active {
    background: rgb(82, 22, 150);
  }
  
  .debugButton {
    border: none;
    background: rgb(9, 3, 24);
    color: white;
    padding: 16px 28px;
    font-size: 24px;
    border-radius: 12px;
    cursor: pointer;
    width: 100%;
    margin-left: 2%;
    margin-top: 2%;
  }
  
  .debugButton:hover, .debugButton:active {
    background: rgb(52, 15, 95);
  }
}

.inputContainerText > .errorLabel {
  color: white;
  font-size: small;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  min-height: 20px;
  padding-top: 1%;
  padding-right: 0;
}

.errorLabel {
  color: white;
  font-size: small;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: right;
  min-height: 20px;
  width: 100%;
  padding-right: 4%;
}

.inputBox {
  height: 48px;
  width: 100%;
  font-size: large;
  border-radius: 10px;
  padding-left: 8px;
  border: none;
  
}

.inputBox:hover {
  background-color: #d3d3d3;
}

.inputBox:focus {
  border: none;
}

input:focus, textarea:focus, button:focus, a:focus {
  outline: 2px solid blue;
}

::selection {
  color: rgb(87, 37, 180);
  background-color: #5555553d;
}

::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

textarea, input {
  font-family: JetBrains Mono;
}

video {
  object-fit: cover;
}
