.App {
  text-align: center;
  text-align: center;
  background-position: center center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #8261fb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.backgroundContainer {
  text-align: center;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("img/waves.jpg");
  width: 100%;
  height: 100%;
}

.mainContainer {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.cardContainer {
  text-align: center;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("img/waves.jpg");
  padding: 7%;
  border-radius: 24px;
  width: 40vw;
  min-width: 400px;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  font-size: xx-large;
  font-weight: bolder;
  align-items: center;
  justify-content: left;
  color: #ffffff;
  padding: 5%;
  white-space: nowrap;
  width: 100%
}

.subtitleContainer {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.resultContainer, .historyItem { 
  flex-direction: row;
  display: flex;
  width: 400px;
  align-items: center;
  justify-content: space-between;
}

.historyContainer {
  flex-direction: column;
  display: flex;
  height: 200px;
  align-items: center;
  flex-grow: 5;
  justify-content: flex-start;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 260px;
}

.inputContainerText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 3%;
  width: 100%;
}

.inputContainerButtons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 4%;
}


.inputContainerText > .errorLabel {
  color: white;
  font-size: small;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  padding: 2%;
}

.inputContainerButtons > .errorLabel {
  color: white;
  font-size: small;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  padding: 2%;
}

.inputButton {
  border: none;
  background: rgb(82, 22, 150);
  color: white;
  padding: 16px 28px;
  font-size: 24px;
  border-radius: 12px;
  cursor: pointer;
  width: 100%;
  margin-left: 2%;
}

.inputButton:hover {
  background: rgb(87, 37, 180);
}

.inputButtonAlternative {
  border: none;
  background: rgb(16, 9, 31);
  color: white;
  padding: 16px 28px;
  font-size: 24px;
  border-radius: 12px;
  cursor: pointer;
  width: 100%;
  margin-right: 2%;
}

.inputButtonAlternative:hover {
  background: rgb(82, 22, 150);
}

.inputBox {
  height: 48px;
  width: 100%;
  font-size: large;
  border-radius: 10px;
  padding-left: 8px;
  border: none;
  
}

.inputBox:hover {
  background-color: #d3d3d3;
}

.inputBox:focus {
  border: 0;
}

textarea:focus, input:focus{
  outline: none;
}

::selection {
  color: rgb(87, 37, 180);
  background-color: #5555553d;
}

::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

textarea, input {
  font-family: JetBrains Mono;
}