.notification-container {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.55);
    border-radius: 10px;
    margin-bottom: 30px;
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
    transition: background 0.3s;
}

    .notification-container:hover {
        background: rgba(255, 255, 255, 0.75);
    }

.notification-content p {
    font-size: 16px;
}

.notification-text {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.accept-friend-request-button {
    outline: none;
    border-radius: 6px;
}
